/* .header{
    
}
.header-wrap{
    height: var(--header-height);
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
}
.header__menu-wrap{
    padding-right: 0;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(44 101 144 / 10%);
    z-index: 10;
}
.header__menu{
    background-color: var(--while-color);
    height: 100vh;
    box-shadow: 0px 0px 20px 0px rgb(44 101 144 / 10%);
    overflow: hidden;
}
.header__menu-logo{
    height: var(--header-height);
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom:1px solid var(--border-color);

}
.header__menu-logo-link{
    display:block;
    outline: none;
}
.header__menu-logo-link-icon{
    font-size:3rem;
    font-weight:800;
    color:var(--primary-green-color);
    margin-right: 10px;
}
.header__menu-logo-link-text{
    font-size:3rem;
    font-weight:600;
    color:var(--primary-green-color);
}

.header__menu-content{
    overflow-y: auto;
    height: calc(100vh - var(--header-height));
}
.header__menu-content::-webkit-scrollbar{
    width: 8px;
    
}
.header__menu-content::-webkit-scrollbar-track{
    background-color: transparent;
}
.header__menu-content::-webkit-scrollbar-thumb{
    width: 8px;
    border-radius:4px;
    background-color: rgba(222, 222, 222, .75);
}
.header__menu-list{
    
}
.header__menu-list-items{
    position:relative;
    
}
.header__menu-list-items-link{
    display: flex;
    padding:15px 20px;
    font-size:1.8rem;
    text-emphasis: none;
    align-items: center;
    color: var(--text-light-color);
    font-weight:400;
    transition: .1s;
    position:relative;
    overflow: hidden;
}
.header__menu-list-items-link::before{
    content:"";
    position:absolute;
    right:0;
    height: 75%;
    width: 3px;
    background-color:var(--primary-green-color);
    display:none;
}
.header__menu-list-items.header__menu-list-items--active .header__menu-list-items-link{
    background-color: var(--primary-light-color);
    color: var(--primary-green-color);
}
.header__menu-list-items.header__menu-list-items--active .header__menu-list-items-link:before{
    display: block;
}
.header__menu-list-items-link:hover{
    color: var(--primary-green-color);
}
.header__menu-list-items-link-icon{
    font-size:2rem;
    display: inline-block;
    margin-right: 8px;
}
.header__menu-list-items-link-ripple{
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgb(30, 61, 115, 0.1);
    transform: scale(0);
    position: absolute;opacity: 1;
}
.rippleEffect{
   
    animation: rippleDrop .6s linear
}
.header__menu-list-items-link-more{
    display: block;
    line-height: 1.2rem;
    font-size:1.2rem;
    text-align:center;
    margin-right:0px;
    margin-left: auto;
}
.header__menu-list-items-link-more-icon-right,.header__menu-list-items-link-more-icon-down{
    font-size:1.2rem;
    font-weight: 800;
}
.header__menu-list-items-link-more-icon-down{
    display:none;
}
.header__menu-list-items.header__menu-list-items--active .header__menu-list-items-link-more-icon-down{
    display:block;
}
.header__menu-list-items.header__menu-list-items--active .header__menu-list-items-link-more-icon-right{
    display:none;
}

.header__sub-menu-list{
    display:none;
}
.header__menu-list-items.header__menu-list-items--active .header__sub-menu-list{
    display:block
}
.header__sub-menu-list-items-link{
    display: flex;
    padding:15px 20px 15px 40px;
    font-size:1.8rem;
    text-emphasis: none;
    align-items: center;
    color: var(--text-light-color);
    font-weight:400;
    transition: .1s;
    position:relative;
}
.header__sub-menu-list-items-link:hover{
    color: var(--primary-green-color);
}
.header__sub-menu-list-items-link.header__sub-menu-list-items-link--active{
    color: var(--primary-green-color);
}
.header__sub-menu-list-items-link-icon{
    font-size:2rem;
    display: inline-block;
    margin-right: 8px;
}


.header__content{
    height: var(--header-height);
    background-color:var(--primary-light-color);
    border-bottom:1px solid var(--border-color);
}
.header__content-title-page{
    font-size:1.8rem;
    font-weight: 500;
    display: block;
    padding: 4px 0px;
    color: var(--text-color);
}
.header__content-breadcrumb {
    font-size:1.6rem;
    font-weight: 400;
    padding:4px 0px;
    color: var(--text-light-color);

}
.header__content-breadcrumb-link{
    color: var(--primary-green-color);
}
.header__content-breadcrumb-link:hover{
    color: var(--primary-green-color);
}
.header__content-account{
    padding-right: 30px;
}
.header__content-account-link-img{
    width: 45px;
    height:45px;
    border-radius:50%
}
.header__content-breadcrumb-list{
    background-color:var(--primary-light-color);
    padding:0px;
}
.header__content-breadcrumb-list-items{
    font-size:1.8rem;
    font-weight:400;
}
.header__content-breadcrumb-list-items-link{
    color: var(--primary-green-color)
}
.header__content-breadcrumb-list-items-link:hover{
    color: var(--primary-green-color);
} */
.sidebar{
    background-color:var(--while-color);
    bottom: 0;
    box-shadow: 0px 0px 20px 0px rgb(44 101 144 / 10%);
}
.sidebar-head-wrap{
    height: var(--header-height);
    border-bottom: 1px solid var(--border-color);
}
.sidebar-head-link{
    color: var(--primary-green-color);
}
.sidebar-head-link:hover{
    color: var(--primary-green-color);
}
.sidebar-head-link-icon{
    font-size:3rem;
    font-weight:500;
    margin-right: 10px;
}
.sidebar-head-link-text{
    font-size:3rem;
    font-weight:500;
    text-transform: uppercase;
}
.sidebar-content{
    flex:1;
    position: relative;
    overflow: hidden;
}
.sidebar-content-wrap{
    padding-right:0px;
    padding-left:0px;
    overflow-y: auto;
   
}
.sidebar-menu-list{
    
}
.sidebar-menu-list-items{
    
}
.sidebar-menu-list-items-link{

    display: flex;
    padding:15px 15px;
    font-size:1.8rem;
    text-emphasis: none;
    align-items: center;
    color: var(--text-light-color);
    font-weight:400;
    transition: .1s;
    position:relative;
    overflow: hidden;
}
.sidebar-menu-list-items-link:hover{
    color: var(--primary-green-color);
}
.sidebar-menu-list-items.sidebar-menu-list-items--active .sidebar-menu-list-items-link{
    background-color: var(--primary-light-color);
    color: var(--primary-green-color);
}
.sidebar-menu-list-items-link::before{
    content:"";
    position:absolute;
    right:0;
    height: 75%;
    width: 3px;
    background-color:var(--primary-green-color);
    display:none;
}
.sidebar-menu-list-items.sidebar-menu-list-items--active .sidebar-menu-list-items-link:before{
    display: block;
}
.sidebar-menu-list-items-link-icon{
    font-size:2rem;
    display: inline-block;
    margin-right: 8px;
    color: var(--primary-green-color);
}
.sidebar-menu-list-items-link-ripple{
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgb(30, 61, 115, 0.1);
    transform: scale(0);
    position: absolute;opacity: 1;
}
.rippleEffect{
   
    animation: rippleDrop .6s linear
}
.sidebar-menu-list-items-link-more{
    display: block;
    line-height: 1.2rem;
    font-size:1.2rem;
    text-align:center;
    margin-right:0px;
    margin-left: auto;
}
.sidebar-menu-list-items-link-more-icon-right,.sidebar-menu-list-items-link-more-icon-down{
    font-size:1.6rem;
    font-weight: 800;
    color: var(--primary-green-color)
}
.sidebar-menu-list-items-link-more-icon-down{
    display:none;
}
.sidebar-menu-list-items.sidebar-menu-list-items--active .sidebar-menu-list-items-link-more-icon-down{
    display:block;
}
.sidebar-menu-list-items.sidebar-menu-list-items--active .sidebar-menu-list-items-link-more-icon-right{
    display:none;
}


.sidebar-sub-menu-items .sidebar-sub-menu-items-link{
    display: flex;
    padding:15px 20px 15px 40px;
    font-size:1.8rem;
    align-items: center;
    color: var(--text-light-color);
    font-weight:400;
    transition: .1s;
    position:relative;
}
.sidebar-sub-menu-items .sidebar-sub-menu-items-link:hover{
    color: var(--primary-green-color) !important;
}
.sidebar-sub-menu-items .sidebar-sub-menu-items-link.sidebar-sub-menu-items-link--active{
    color: var(--primary-green-color)!important;
}
.sidebar-sub-menu-items .sidebar-sub-menu-items-link-icon{
    font-size:2rem;
    display: inline-block;
    margin-right: 8px;
    color: var(--primary-green-color);
}

/* ==================== .header =================== */
.header{
    height: var(--header-height);
    background-color:var(--primary-light-color);
    border-bottom: 1px solid var(--border-color);
}
.header-breadcrumb-title{
    font-size:1.8rem;
    font-weight:500;
    padding:4px 0px;
   
}
.header-breadcrumb .breadcrumb{
    background-color: var(--primary-light-color);
    font-weight:400;
    font-size: 1.6rem;
    padding-left:0px;
    padding:4px 0px;

}
.header-breadcrumb .breadcrumb a{
    color: var(--primary-green-color);
}
.header-account-img{
    width: 45px;
    height: 45px;
    border-radius: 50%
    
}
.header-account-content-name{
    font-size:1.6rem;
    font-weight:500;
    color:var(--text-color)
}
.header-account-content-position{
    font-size:1.4rem;
    font-weight:500;
    color: var(--primary-green-color)
}
.header-account-nav{
    position:absolute;
    top: calc(100% + 20px);
    right:15px;
    
}
.collapse.header-account-nav-wrap{
    border: 1px solid var(--border-color);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 4px 20px 0px rgb(44 101 144 / 10%);
}
.header-account-nav-body{
    padding:0px;

}
.header-account-nav-body-head{
    font-size:1.6rem;
    font-weight:400;
    background-color: var(--primary-green-color);
    color:var(--while-color);
    border-radius: 0;
    border-bottom: unset;
}
.header-account-nav-body-head-title{
    margin-bottom: 4px;
}
.header-account-nav-body-head-position{
    font-size:1.4rem
}
.header-account-nav-body-content-link{
    padding:20px;
    background-color:var(--while-color);
    color: var(--text-color);
    border: none;
}
.header-account-nav-body-content-link:hover{
    background-color:var(--primary-light-color);
}
.header-account-nav-body-content-link:focus{
    box-shadow: none;
}

.header-account-nav-body-content-link-icon{
    font-size:3rem;
    font-weight:500;
    color: var(--primary-green-color);

}
.header-account-nav-body-content-link-content{
    text-align:left;
}
.header-account-nav-body-content-link-content-text{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color)
}
.header-account-nav-body-content-link-content-description{
    font-size:1.2rem;
    font-weight:400;
    color: var(--text-light-color)
}
.header-form-search{
    margin-bottom: 0px;
    position: relative
}
.header-form-search-input{
    width: 100%;
    height: 40px;
    padding: 5px 15px 5px 40px;
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 4px 20px 0px rgb(44 101 144 / 10%);
    outline:none;
}
.header-form-search-input:focus{
    border: none;
    box-shadow: 0px 4px 20px 0px rgb(44 101 144 / 10%);
}
.header-form-search-btn{
    position: absolute;
    left: 15px;
    top: 9px;
    font-size: 1.6rem;
    color: var(--text-light-color);
    background-color: var(--while-color);
}
.header-form-search-btn {
    position: absolute;
    left: 4px;
    top: 9px;
    font-size: 1.6rem;
    color: var(--text-light-color);
    background-color: var(--while-color);
    
}
.header-form-search-btn:focus{
    box-shadow:var(--while-color)
}

/* ==================== .content =================== */
.content-body{
    padding:15px;
}
.content-page{
    padding-top: 30px;
    background-color:var(--primary-light-color)
    
}
.content-card
{
    background-color:var(--while-color);
    border: 1px solid var(--border-color);
    border-radius:4px;
}
.content-card-header{
    background-color: var(--while-color);
    padding:20px;
}
.content-card-header.h4{
    font-size:1.8rem;
    font-weight:500;
    color: var(--text-color)
}
.content-card-body{
    padding:20px;
}
.content-card-body-content .table{
    margin-top: 20px;
}
.content-card-body-content-form{
    position: relative;
}
.content-card-body-content-form-input{
    font-size:1.6rem;
    font-weight:400px;
}
.content-card-body-content-form-input:focus{
    border:1px solid var(--primary-green-color);
    box-shadow: none;
}
.content-card-body-content-form-btn{
    position:absolute;
    background-color:var(--primary-green-color);
    border:1px solid var(--primary-green-color);
    right: calc(25% + 4px);
    font-size: 1.6em;
    padding-right: 12px;
    padding-left: 12px;
    color: var(--while-color)

}
.content-card-body-content-form-btn:hover{
    background-color:var(--primary-green-color);
    border:1px solid var(--primary-green-color);
}
.content-card-body-content-btn{
    padding-right: 12px;
    padding-left: 12px;
    color: var(--primary-green-color);
    font-size:1.6rem;
    font-weight: 400;
    background-color:var(--while-color);
    border:1px solid var(--primary-green-color);
}
.content-card-body-content-btn:hover{
    background-color:var(--primary-green-color);
    border:1px solid var(--primary-green-color);
}
.content-card-body-pagination{
    font-size:1.6rem;
    font-weight: 400;
}
.content-card-body-pagination a{
    color:var(--primary-green-color);

}
.content-card-body-pagination a:hover{
    background-color:var(--primary-green-color);
    color:var(--while-color);
    
}