extends ../common/common.pug
block content
    section.content-page.row
        div.col-md-12
            .card.content-card
                .card-header.content-card-header
                    h4 Danh Sách
                .card-body.content-card-body
                    .content-card-body-content
                        .row.justify-content-between
                            .col-md-6 
                                form.form-inline.mb-0.content-card-body-content-form
                                    input.form-control.content-card-body-content-form-input.w-75(type='text', placeholder='Tìm Kiếm')
                                    button.btn.btn-primary.btn-lg.content-card-body-content-form-btn.position-absolute(type='submit') 
                                        i.bi.bi-search
                            .col-md-6.t
                                a.btn.btn-md.float-right.btn-primary.btn-lg(href="#")
                                    i.bi.bi-plus-circle 
                                    |Thêm Mới
                        table.table.table-bordered
                            thead
                                tr
                                    th(scope='col') #
                                    th(scope='col') Tên
                                    th(scope='col') Mô Tả
                                    th(scope='col') Trạng Thái
                                    th(scope='col') Hành Động
                            tbody
                                each role,index in  roles
                                    tr
                                        td=index
                                        td= role.name
                                        td= role.description
                                        td=role.starus
                                            if role.status
                                                span.badge.badge-primary.badge-lg Hoạt Động 
                                            else     
                                               span.badge.badge-danger Khóa
                                        td.d-flex.justify-content-around
                                            a.btn.btn-primary.btn-lg.mr-2(href="", data-toggle='tooltip', data-placement='top', title='Chỉnh Sửa')
                                                i.bi.bi-pencil-square
                                            a.btn.btn-danger.btn-lg.mr-2(href="", data-toggle='tooltip', data-placement='top', title='Xóa')
                                                i.bi.bi-trash
                                            a.btn.btn-info.btn-lg.mr-2(href="", data-toggle='tooltip', data-placement='top', title='Chi Tiết')
                                                i.bi.bi-eye
                                
                    nav.float-right.content-card-body-pagination
                        ul.pagination
                            li.page-item
                                a.page-link(href='#') Previous
                            li.page-item
                                a.page-link(href='#') 1
                            li.page-item
                                a.page-link(href='#') 2
                            li.page-item
                                a.page-link(href='#') 3
                            li.page-item
                                a.page-link(href='#') Next            